.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  ul.navbar-nav.edited-nav {
    margin-left: 12px ;
}

.navbar-toggler-icon {
 
    background: red !important;
}

a.nav-link {
    color: white;
}

@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4.5rem !important;
    padding-left: 0rem !important;
}
}

.containers {
    display: flex;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0px !important;
    top: calc(38% - 120px) !important;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.boxs {
    height: 147px;
    width: 205px;
    
    text-align: center;
}

.yellow {
    background: #fff905;
    color: black;
}
.black {
    color: white;

    background: black;
}

.next-prev {
    position: absolute;
    bottom: 37px;
    right: 71px;
}

i.fas.fa-chevron-circle-right {
    padding: 13px;
    color: rgba(0, 0, 0, 0.438);
    font-size: 31px;
}
i.fas.fa-chevron-circle-left {
    padding: 13px;
    color: white;
    font-size: 31px;
}

.active.yellow::before {
    content: "";
    height: 25px;
    margin-top: -12px;
    width: 25px;
    background: rgb(255, 239, 8);
    position: absolute;
    transform: rotate(224deg);
    border: 2px solid white;
    z-index: -1;
    /* left: 72px; */
}


.active.black::before {
    content: "";
    /* left: 72px; */
    height: 25px;
    margin-top: -12px;
    width: 25px;
    background: black;
    position: absolute;
    transform: rotate(224deg);
    border: 2px solid;
    z-index: -1;
}

p.bstext {
    margin-top: 10px;
    font-weight: 700;
}

p.nxt {
    text-align: initial;
    margin-left: 10px;
}



.black a.bxbtn {
    background: white;
    font-size: 11px;
    color: black;
    padding: 4px 14px;
    border-radius: 18px;
    text-decoration: none;
    cursor: pointer;
}

.yellow a.bxbtn {
    background: black;
    font-size: 11px;
    color: white;
    padding: 4px 14px;
    border-radius: 18px;
    text-decoration: none;
    cursor: pointer;
}
a.getstock {
    padding: 5px 37px;
    display: inline-table;
    background: #5d51515c;
    border-radius: 32px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: 700;
    font-size: 18px;
    margin-top: 38px;
}


.display-4 {
    font-size: 3.5rem !important;
    font-weight: 600 !important;
    line-height: 1.2;
    text-align: left;

}

.lead {
    font-size: 1.75rem;
    font-weight: 400 !important; 
    text-align: left;
}

a.maingetstart {
    text-decoration: none;
    background: white;
    padding: 5px 34px;
    font-size: 25px;
    color: black;
    border-radius: 20px;
    font-weight: 700;
}

.col-indi li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.col-indi {
    position: absolute;
    top: calc( 50% - 99px);
}

.col-indi .active {
    opacity: 1;
}